:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f9f9f9;
}

body {
  margin: 0px;
}

*, ::after, ::before {
  box-sizing: content-box;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  background-color: gainsboro;
  align-items: center;
  color: darkgray;
  overflow: hidden;
}

.nav-bar h1 { /*Have to override the bootstrap styling*/
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
}

.nav-bar a:link {
  color: darkslategray;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: darkgray;
  color: black;
}

.nav-bar a:visited {
  color: orange;
}

#prof-image {
  display: block;
  padding-left: 50px;
  padding-top: 20px;
  width: 200px;
  height: 200px;
}

.container, #main-page {
  display: flex;
}

h1, h2, h3, p {
  margin: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

ul, li {
  padding-left: 20px;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position Found how to move bullet points with padding from mdn*/
  list-style-position: inside;
  margin-top: 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  /*Used this site to figure out how to make footer at bottom of screen: https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: gainsboro;
  align-items: center;
  color: darkslategray;
}

footer h1 {
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
}

footer a:link {
  color: darkslategray;
  text-decoration: none;
}

footer a:hover {
  background-color: darkgray;
  color: black;
}

footer a:visited {
  color: orange;
}

#technologies {
  padding-left: 15px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 180px 120px 120px;
  gap: 5px;
  align-items: center;
}

#technologies > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkcyan;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height:300px;
  margin: auto;
}